<app-header
  [navbarBrandRouterLink]="['/dashboard']"
  [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/cric2betlogo.png', width: 150, height: 50, alt: 'Crick'}"
  [sidebarToggler]="'lg'"
  [asideMenuToggler]="'lg'"
  [asideMenuToggler]='false'
  [mobileAsideMenuToggler] ='false'
>
  <!-- <ul class="nav navbar-nav d-md-down-none">
    
    <li class="nav-item px-3">
      <a class="nav-link"  [routerLink]="['/dashboard']">Dashboard</a>
    </li>
     <li class="nav-item px-3">
      <a class="nav-link"  [routerLink]="['/users']">Users</a>
    </li> 
    <li class="nav-item px-3">
      <a class="nav-link" href="#">Settings</a>
    </li>
  </ul> -->
  <ul class="nav navbar-nav ml-auto d-none d-sm-inline-block" *ngIf="message!=''">
    <div  class="marquee"><i class="icon-bell bell"></i><marquee hspace = "20">{{message}}</marquee>
    </div>
  </ul>
  <ul class="nav navbar-nav ml-auto">
    <!-- <li class="nav-item d-md-down-none">
      <a class="nav-link" href="#"><i class="icon-bell"></i><span class="badge badge-pill badge-danger">5</span></a>
    </li> -->
    <!-- <li class="nav-item d-md-down-none">
      <a class="nav-link" href="#"><i class="icon-list"></i></a>
    </li> -->
    <li class="nav-item d-md-down-none">
      <a class="nav-link" href="javascript:void(0)"><img src="assets/img/wallet-icons.png">
      </a>
    </li>
    <li class="nav-item d-md-down-none"  style="padding-right: 10px;">
      <a class="nav-link" href="javascript:void(0)">
          <span style="float: left;"> Main: {{user.chip_amts}} </span><br>
          <span style="display: block;"> Exposure: <span style="color: red;">0.00</span> &nbsp;</span>
      </a>
    </li>
    <li class="nav-item" style="padding-right: 10px;">
      <a class="nav-link"  href="javascript:void(0)" (click)="toggleAsidrBar()">
        <span>
          <i class="fa fa-user"></i>
        </span>
        <span style="display: block;text-transform: capitalize;">{{user.username}}  <i class="fa fa-caret-down" aria-hidden="true"></i></span>
      </a>
    
    </li>
    <!-- <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
        <i class="fa fa-user" aria-hidden="true"></i>
      </a>
      <strong style="padding-right: 10px;color: #fff;">{{user.username}} <i class="fa fa-caret-down" aria-hidden="true"></i></strong>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center"><strong>Account</strong></div>
        <a class="dropdown-item" href="#"><i class="fa fa-bell-o"></i> Updates<span class="badge badge-info">42</span></a>
        <a class="dropdown-item" href="#"><i class="fa fa-envelope-o"></i> Messages<span class="badge badge-success">42</span></a>
        <a class="dropdown-item" href="#"><i class="fa fa-tasks"></i> Tasks<span class="badge badge-danger">42</span></a>
        <a class="dropdown-item" href="#"><i class="fa fa-comments"></i> Comment<span class="badge badge-warning">42</span></a>
        <div class="dropdown-header text-center"><strong>{{user.username}}</strong></div>
        <a class="dropdown-item" href="javascript:void(0)" (click)="profile()"><i class="fa fa-user" ></i> Profile</a>
        <a class="dropdown-item" href="#"><i class="fa fa-wrench"></i> Setting</a>
        <a class="dropdown-item" href="#"><i class="fa fa-usd"></i> Balance<span class="badge badge-primary">{{user.chip_amts}}</span></a>
        <a class="dropdown-item" href="#"><i class="fa fa-file"></i> Projects<span class="badge badge-primary">42</span></a>
        <div class="divider"></div>
        <a class="dropdown-item" (click)="changePassword()"><i class="fa fa-shield"></i> Change Password</a>
        <a class="dropdown-item" (click)="logout()"><i class="fa fa-lock"></i> Logout</a>
      </div>
    </li> -->
  </ul>
</app-header>
<div class="app-body">
  <app-sidebar #appSidebar [fixed]="true" [display]="'lg'" [minimized]="sidebarMinimized" (minimizedChange)="toggleMinimize($event)">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="appSidebar.minimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <!-- Breadcrumb -->
    <!-- breaking change 'cui-breadcrumb' -->
    <div class="balance d-block d-xl-none">
      <span> Main: {{user.chip_amts}} </span><br>
      <span> Exposure: <span style="color: red;">0.00</span> &nbsp;</span>
      <div  class="marquee1" *ngIf="message!=''"><i class="icon-bell bell"></i><marquee hspace = "20">{{message}}</marquee>
      </div>
    </div>
    <cui-breadcrumb>
      <!-- Breadcrumb Menu-->
      <li class="breadcrumb-menu d-md-down-none">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
          <!-- <a class="btn" href="#"><i class="icon-speech"></i></a> -->
          <a class="btn" [routerLink]="['/dashboard']"> &nbsp;Dashboard</a>
          <!-- <a class="btn" (click)><i class="icon-settings"></i> &nbsp;Settings</a> -->
        </div>
      </li>
    </cui-breadcrumb>
    <!-- deprecation warning for 'app-breadcrumb' -->
    <!--<ol class="breadcrumb">-->
      <!--<app-breadcrumb></app-breadcrumb>-->
      <!--&lt;!&ndash; Breadcrumb Menu&ndash;&gt;-->
      <!--<li class="breadcrumb-menu d-md-down-none">-->
        <!--<div class="btn-group" role="group" aria-label="Button group with nested dropdown">-->
          <!--<a class="btn" href="#"><i class="icon-speech"></i></a>-->
          <!--<a class="btn" [routerLink]="['/dashboard']"><i class="icon-graph"></i> &nbsp;Dashboard</a>-->
          <!--<a class="btn" href="#"><i class="icon-settings"></i> &nbsp;Settings</a>-->
        <!--</div>-->
      <!--</li>-->
    <!--</ol>-->
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>
  <app-aside [fixed]="true" [display]="false" [ngClass]="'test'">
    <div class="p-3">
      <div class="message">
        <div class="mr-3 ">
          <span class="text-truncate font-weight-bold"><i class="fa fa-university" aria-hidden="true"></i> &nbsp; Balance Information</span>
        </div>
        <div>
          <small class="text-muted">Total Credit: </small>
          <small class="text-muted float-right mt-1 font-weight-bold">{{user.chip_amts}}</small>
        </div>
        <div>
          <small class="text-muted">Available Limit: </small>
          <small class="text-muted float-right mt-1 font-weight-bold">0.00</small>
        </div>
        <div>
          <small class="text-muted">Net Exposure: </small>
          <small class="text-danger float-right mt-1 font-weight-bold" >0.00</small>
        </div>
      </div>
      <hr>
      <div class="message">
        <div class="mr-3 ">
          <span class="text-truncate font-weight-bold"><i class="fa fa-list" aria-hidden="true"></i> &nbsp; Open Bets</span>
        </div>
      </div>
      <hr>
      <div class="message">
        <div class="mr-3 ">
          <span class="text-truncate font-weight-bold"><i class="fa fa-money" aria-hidden="true"></i> &nbsp; Betting P&L</span>
        </div>
      </div>
      <hr>
      <div class="message">
        <div class="mr-3 ">
          <span class="text-truncate font-weight-bold"><i class="fa fa-money" aria-hidden="true"></i> &nbsp; Account Statement</span>
        </div>
      </div>
      <hr>
      <div class="message">
        <div class="mr-3 ">
          <span class="text-truncate font-weight-bold"><i class="fa fa-book" aria-hidden="true"></i> &nbsp; Transfer Statement</span>
        </div>
      </div>
      <hr>
      <div class="message">
        <div class="mr-3 ">
          <span class="text-truncate font-weight-bold"><i class="fa fa-book" aria-hidden="true"></i> &nbsp; Betting History</span>
        </div>
      </div>
      <hr>
      <div class="message">
        <div class="mr-3 " (click)="changePassword()">
          <span class="text-truncate font-weight-bold"><i class="fa fa-lock" aria-hidden="true"></i> &nbsp; Change Password</span>
        </div>
      </div>
      <hr>
      <div class="message">
        <div class="mr-3 " (click)="logout()">
          <span class="text-truncate font-weight-bold"><i class="fa fa-sign-out" aria-hidden="true"></i> &nbsp; Sign Out</span>
        </div>
      </div>
      
    </div>
    
  </app-aside>
</div>
