<div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    
        <form [formGroup]="changePassword" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-6">
                    <div class="form-group">
            <input type="text" class="form-control input-sm" formControlName="actualpassword" [ngClass]="{ 'is-invalid': submitted && f.actualpassword.errors }" placeholder="Actual password">
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-6">
                    <div class="form-group">
                        <input type="password" class="form-control input-sm" placeholder="New Password"
                        formControlName="newpassword" [ngClass]="{ 'is-invalid': submitted && f.newpassword.errors }">
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-6">
                    <div class="form-group">
                        <input type="password" class="form-control input-sm" placeholder="Confirm Password"
                        formControlName="confirmNewPassword" [ngClass]="{ 'is-invalid': submitted && f.confirmNewPassword.errors }">
                    </div>
                </div>
            </div>
           
         
            <div class="col-4 col-sm-4 ">
                <button  style="margin-left: -16px;" [disabled]="loading" type="submit" class="btn btn-block btn-primary active"> 
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span> Submit</button>
            </div>
        
        </form>
</div>
<!-- <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">{{closeBtnName}}</button>
</div> -->