<div class="animated fadeIn">



  <div class="row">

    <div class="col-md-8 mb-6 dashboard-tab">
      <ul class="nav nav-tabs match-buttons " id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="cricket-tab" data-toggle="tab" href="#cricket" role="tab" aria-controls="cricket"
            aria-selected="true">
            <span class="item_sport d-block d-xl-none">
              <img src="assets/img/cricket.jpg"></span>
            <span class="game_label"> Cricket</span></a>
        </li>
        <li class="nav-item"> <a class="nav-link" id="tennis-tab" data-toggle="tab" href="#tennis" role="tab"
            aria-controls="tennis" aria-selected="false"><span class="item_sport d-block d-xl-none"><img
                src="assets/img/tennis.jpg"></span> <span class="game_label"> Tennis</span></a> </li>
        <li class="nav-item"> <a class="nav-link" id="soccer-tab" data-toggle="tab" href="#soccer" role="tab"
            aria-controls="soccer" aria-selected="false"><span class="item_sport d-block d-xl-none"><img
                src="assets/img/soccers.jpg"></span> <span class="game_label"> Soccer</span></a> </li>
                <li class="nav-item"> <a class="nav-link" id="casino-tab" data-toggle="tab" href="#casino" role="tab"
                  aria-controls="casino" aria-selected="false"><span class="item_sport d-block d-xl-none"><img
                      src="assets/img/casino.jpg"></span> <span class="game_label"> Casino</span></a> </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="cricket" role="tabpanel" aria-labelledby="cricket-tab">
          <div>
            <div id="user_row_" class="lotus-title sportrow-4">
              <div class="head-matchname">
                <div class="match-head">Cricket</div>
                <div class="match-odds-right">
                  <div class="items-up-odds">1</div>
                  <div class="items-up-odds">x</div>
                  <div class="items-up-odds">2</div>
                </div>
              </div>
            </div>
            <div id="user_row_" class="sport_row sportrow-4" (click)="gotoInnerPage()" title="Match OODS">
              <div class="sport_name">
                <time>13 Sep 2020 15:00:00</time>
                <span id='fav4261'><i class='fa fa-star-o' aria-hidden='true'></i></span>
                <a href="javascript:;">
                  Amo Sharks v Boost Defenders </a>
              </div>
              <div class="match_status">
                <span class="going_inplay">Going In-play</span>
              </div>
              <div class="match_odds_front">
              </div>
            </div>
            <div id="user_row_" class="sport_row sportrow-4" title="Match OODS" (click)="gotoInnerPage()">
              <div class="sport_name">
                <time>20 Sep 2020 19:30:00</time>
                <span id='fav30000721'><i class='fa fa-star-o' aria-hidden='true'></i></span>
                <a href="javascript:;">
                  Delhi Capitals v Kings XI Punjab </a>
              </div>
              <div class="match_status">
                <span class="going_inplay">Going In-play</span>
              </div>
              <div class="match_odds_front">
              </div>
            </div>
            <div id="user_row_" class="sport_row sportrow-4 " (click)="gotoInnerPage()" title="Match OODS">
              <div class="sport_name">
                <time>21 Sep 2020 19:30:00</time>
                <span id='fav30000722'><i class='fa fa-star-o' aria-hidden='true'></i></span>
                <a href="javascript:;">
                  Sunrisers Hyderabad v Royal Challengers Bangalore </a>
              </div>
              <div class="match_status">
                <span class="inplay_txt">In-play </span>
              </div>
              <div class="match_odds_front">


                <span class="back-cell">2.2</span>
                <span class="lay-cell">2.24</span>


                <span class="back-cell">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span class="lay-cell">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>

                <span class="back-cell">1.81</span>
                <span class="lay-cell">1.82</span>
              </div>
            </div>
            <div id="user_row_" class="sport_row sportrow-4  matchrow-30015681" (click)="gotoInnerPage()"
              title="Match OODS">
              <div class="sport_name">
                <time>21 Sep 2020 22:30:00</time>
                <span id='fav30015681'><i class='fa fa-star-o' aria-hidden='true'></i></span>
                <a href="javascript:;">
                  England Women v West Indies Women </a>
              </div>
              <div class="match_status">
                <span class="going_inplay">Going In-play</span>
              </div>
              <div class="match_odds_front">


                <span class="back-cell">1.16</span>
                <span class="lay-cell">1.17</span>


                <span class="back-cell">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span class="lay-cell">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>

                <span class="back-cell">6.8</span>
                <span class="lay-cell">7.4</span>
              </div>
            </div>
            <div id="user_row_" class="sport_row sportrow-4" title="Match OODS" (click)="gotoInnerPage()">
              <div class="sport_name">
                <time>22 Sep 2020 19:30:00</time>
                <span id='fav30011381'><i class='fa fa-star-o' aria-hidden='true'></i></span>
                <a href="javascript:;">
                  Rajasthan Royals v Chennai Super Kings </a>
              </div>
              <div class="match_status">
                <span class="going_inplay">Going In-play</span>
              </div>
              <div class="match_odds_front">
              </div>
            </div>
            <div id="user_row_" class="sport_row sportrow-4  matchrow-30011382" title="Match OODS">
              <div class="sport_name">
                <time>23 Sep 2020 19:30:00</time>
                <span id='fav30011382'><i class='fa fa-star-o' aria-hidden='true'></i></span>
                <a href="javascript:;">
                  Kolkata Knight Riders v Mumbai Indians </a>
              </div>
              <div class="match_status">
                <span class="going_inplay">Going In-play</span>
              </div>
              <div class="match_odds_front">
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="tennis" role="tabpanel" aria-labelledby="tennis-tab">
          <h3>tennis</h3>
          <p>Integer malesuada nunc vel risus commodo. Enim eu turpis egestas pretium aenean pharetra magna. Feugiat in
            fermentum posuere urna nec tincidunt praesent semper feugiat. Diam vulputate ut pharetra sit amet. At
            ultrices mi tempus imperdiet.</p>
        </div>
        <div class="tab-pane fade" id="soccer" role="tabpanel" aria-labelledby="soccer-tab">
          <h3>soccer</h3>
          <p>Sit amet nisl suscipit adipiscing bibendum est ultricies integer quis. Cursus euismod quis viverra nibh
            cras pulvinar mattis. Amet risus nullam eget felis eget nunc lobortis mattis. Lacus viverra vitae congue eu.
            Eu tincidunt tortor aliquam nulla facilisi cras fermentum odio eu. Est placerat in egestas erat imperdiet
            sed euismod.</p>
        </div>
        <div class="tab-pane fade" id="casino" role="tabpanel" aria-labelledby="casino-tab">
          <h3>casino</h3>
          <p>Sit amet nisl suscipit adipiscing bibendum est ultricies integer quis. Cursus euismod quis viverra nibh
            cras pulvinar mattis. Amet risus nullam eget felis eget nunc lobortis mattis. Lacus viverra vitae congue eu.
            Eu tincidunt tortor aliquam nulla facilisi cras fermentum odio eu. Est placerat in egestas erat imperdiet
            sed euismod.</p>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-md-4 mb-6">
      <div class="card">
        <div class="card-header">
          Mini Game
          <div class="card-header-actions">
            <span class="badge badge-success">Success</span>
          </div>
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
          dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
          suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
  
</div>