// Variable overrides



$navbar-height:                       55px !default;
$navbar-bg:                           #344db5 !default;
$navbar-color: #fff;
$navbar-hover-color:#e3ebf1;
$navbar-border:blue;